   #galerie {
  padding: 50px 20px;
  background: #f5f5f5;
  text-align: center;
}

#galerie h2 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #003366;
}

#galerie p {
  margin-bottom: 30px;
  color: #555;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  margin-bottom: 30px;
}

.item img,
.item video {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: url("image/background.jpeg") no-repeat center center fixed;
    background-size: cover;
}

/* Overlay */
.overlay {
    background: rgba(10,31,68,0.85);
    min-height: 100vh;
    color: white;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: sticky;
    top: 0;
    background: #0a1f44;
    z-index: 1000;
}

.logo {
    width: 150px;
    height: 90px;
    background: white;
    color: #0a1f44;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

/* Menu */
nav a {
    color: lch(75.16% 82.5 73.51);
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s ;
}
nav a:hover{
    color: #eaf1fc;
    background-color:  lch(75.16% 82.5 73.51);
    padding: 10px;
    border-radius: 10px;
    transform:scale()
}
/* Hero */
.hero {
    text-align: center;
    padding: 100px 20px;
    animation: fadeIn 2s ease;
}

.hero h1 {
    font-size: 3em;
    color: orange;
}

.hero p {
    font-size: 1.2em;
    margin-top: 10px;
}

/* Sections */
section {
    padding: 60px 40px;
    opacity: 0;
    transform: translateY(50px);
    transition: 1s;
}

section.show {
    opacity: 1;
    transform: translateY(0);
}

h2 {
    color: orange;
    margin-bottom: 20px;
}

/* Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
}

.card {
    background: white;
    color: #0a1f44;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.prix {
    color: orange;
    font-weight: bold;
}

/* Form */
input, textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

/* Button */
button {
    background: orange;
    color: white;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 30px;
}

/* WhatsApp */
.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25D366;
    color: white;
    padding: 15px 25px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    animation: pulse 2s infinite;
}

/* Footer */
footer {
    background: #0a1f44;
    text-align: center;
    padding: 20px;
}

/* Animations */
@keyframes fadeIn {
    from {opacity:0;}
    to {opacity:1;}
}

@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

/* Responsive */

@media screen and (max-width: 500px) {
    .card img {
        width: 50px;
        height: 80px;
    }
  .gallery {
    grid-template-columns: 1fr; /* 1 colonne sur mobile */
    gap: 10px;
  }

  .item img,
  .item video {
    height: 300px; /* taille adaptée à l'écran plus petit */
    width: 150px;
  }

  #galerie {
    padding: 30px 10px; /* moins d’espace sur mobile */
  }

  #galerie h2 {
    font-size: 1.5em;
  }

  #galerie p {
    font-size: 0.9em;
  }
}